*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}

/* Navigation Bar */

.navBar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    padding: 0 170px;                 
}

.logo{
    display: flex;
    align-items: center;             
    gap: 10px;                       
    margin: 0;                       
}

.logoName{
    font-size: 22px;
    font-weight: 600;
}

.history{
    margin-right: 100px;
}

.history a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 750px;   
    color: black;            
    font-weight: 500;        
}

.history a:hover {
    color: #007bff;
    text-decoration: underline;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


/*      Header Component     */
.headerComponent{
    width : 100%;
    height : 8vh;
    background-color: #446DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 30px; 
    padding : 10px 0px 10px 0px;
}


/*      container     */
.container{
    height: calc(100vh - 18vh);
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F5F6FA;
}

/* Child containet  */
.childContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding : 15px;
    height : 100%;
    width : 110vh;
}

/* Input Container  */
.inputContainer{
    width: 100%;
    padding : 20px;
    display: flex;
    flex-direction: column;
    gap : 15px;
    height : 60vh;
}

.chooseType{
    height : 4%;
    width : 100%;
    font-size: medium;
    font-weight: 600;
}


/* Result Container  */
.resultContainer{
    width: 100%;
    height : 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    border: 2px solid black;
    display: none;
}

/* Type Container */
.typeContainer{
    display: flex;
    flex-direction: row;
    gap : 10px;
    width : 100%;
    height : 46%;
    padding : 10px;
}


/* Operation Container */
.operationContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width : 100%;
    height : 20%;
    padding : 5px;
}

/* Value Container */
.valueContainer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 10px;
    width : 100%;
    height : 30%;
}

.quantityType{
    width : 25%;
    height : 100%;
    border-radius: 20%; 
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    overflow: hidden;
    transition: all 0.3s ease;
}


.quantityType:hover{
    transform: scale(1.06);
}

/* Weight */

.weightSymbol:hover{
    border : 3px solid red;
    background-color: #eba4a4;   
}

.weightSymbol:hover .typeText{
    color: red;
}

.weightSymbol:hover img{
    filter: brightness(0) saturate(100%) invert(17%) sepia(99%) saturate(7484%) hue-rotate(1deg) brightness(98%) contrast(118%);
} 

/* Length */

.lengthSymbol:hover{
    border: 3px solid #00b894;
    background-color: #a5f8db;
}

.lengthSymbol:hover .typeText{
    color: #00b894;
}

.lengthSymbol:hover img{
    filter: brightness(0) saturate(100%) invert(55%) sepia(89%) saturate(472%) hue-rotate(118deg) brightness(94%) contrast(101%);
}

/* TEMPERATURE  */

.temperatureSymbol:hover{
    border: 3px solid #ff8c00;
    background-color: #fddda9;
}

.temperatureSymbol:hover .typeText{
    color: #ff8c00;
}

.temperatureSymbol:hover img{
    filter: brightness(0) saturate(100%) invert(63%) sepia(84%) saturate(1614%) hue-rotate(2deg) brightness(103%) contrast(103%);
}


/* VOLUME */

.volumeSymbol:hover{
    border: 3px solid #8e44ad;
    background-color: #d5b6f5;
}

.volumeSymbol:hover .typeText{
    color: #8e44ad;
}

.volumeSymbol:hover img{
    filter: brightness(0) saturate(100%) invert(31%) sepia(51%) saturate(1274%) hue-rotate(252deg) brightness(93%) contrast(92%);
}

.opType{
    width : 15%;
    height: 100%;
    border-radius: 10%;
    display : flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    transition: all 0.3s ease;
    background-color: white;
}

.opType p{
    font-size: medium;
    font-weight: 600;
}


.opType:hover{
    transform: scale(1.1);
    background: #446DFF;
    color: white;
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.opType:hover img{
    filter: brightness(0) invert(1);
}

.userInputContainer{
    height : 100%;
    width : 50%;
}

.value{
    height : 65%;
    width : 100%;
}

.unit{
    height : 35%;
    width : 100%;
    background-color:darkkhaki;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.typeImage{
    display: flex;
    align-items: center;
    justify-content: center;
    height : 70%;
    width : 100%;
}

.typeImage img{
    height : 60px;
    width : 60px;
    filter: brightness(0);
}

.typeText{
    height : 30%;
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: large;
}

.value p{
    height: 40%;
    width: 100%;
    font-size: medium;
    font-weight: 600;
    padding-left: 5px;
    color: #616263;
}

.value input{
    height: 60%;
    width : 100%;
    padding-left : 18px;
    font-size: x-large;
    font-weight: 600;
    border: 2px solid black;
}

.value input::placeholder{
    color: black;
}

.unit select{
    height : 100%;
    width : 100%;
    padding-left : 15px;
    font-size: medium;
    font-weight: 600;
}

.submitButton{
    height : 7vh;
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton button{
    height:100%;
    width : 14%;
    border-radius: 14px;
    background: linear-gradient(135deg,  #446DFF);
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

/* HOVER */

.submitButton button:hover{
    transform: translateY(-4px) scale(1.05);
    box-shadow: 0 14px 24px rgba(0,0,0,0.22);
}

/* CLICK EFFECT */

.submitButton button:active{
    transform: scale(0.97);
}
